/dist/env.*.*.*.js
/dist/env.rhino.*.*.*.js
/dist/env-js.*.jar
*~
/dist/env.johnson.js
/lib/envjs/env.js
/lib/envjs/static.js
/rhino/build
/jshost
/htmlparser/gwt*
/htmlparser/html5
/htmlparser/build
/pkg
/.wake